@page
@using Shared_Resources.Utils.Units
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shared_Resources.Data.Settings
@using Shared_Resources.Model.Ingredients
@model Web_Client.Pages.IngredientsModel
@{
    ViewData["Title"] = "Ingredients";
    ViewData["Header"] = "Ingredients";

    <div>
        <p>Use this page to add ingredients to your recipes.</p>
        <button type="button" id="add-ingredient-modal-button" data-bs-toggle="modal" data-bs-target="#add-ingredient-modal">Add Ingredient</button>
    </div>

    @if (Model.Ingredients == null || Model.Ingredients.Count < 1)
    {
        <p>No ingredients found!</p>
    }
    else
    {
        @foreach (var ingredient in Model.Ingredients)
        {
            <div class="ingredient">
                <div class="ingredient-name">
                    <p class="ingredient-name-title">@ingredient.Name</p>
                    <p class="ingredient-name-subtitle">Quantity: @ingredient.Amount@BaseUnitUtils.GetBaseUnitSign(ingredient.MeasurementType)</p>
                </div>
                <div class="ingredient-actions">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#edit-ingredient-modal" data-ingredient-name="@ingredient.Name" data-ingredient-amount="@ingredient.Amount" class="ingredient-edit-button">Edit</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#remove-ingredient-modal" data-ingredient-name="@ingredient.Name" class="ingredient-delete-button">Delete</button>
                </div>
            </div>
        }
    }

    <button type="button" id="remove-all-ingredient-modal-button" data-bs-toggle="modal" data-bs-target="#remove-all-ingredient-modal">Remove All</button>

    <div class="modal fade" id="edit-ingredient-modal" tabindex="-1" aria-labelledby="edit-ingredient-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edit-ingredient-modal-label">Edit Ingredient</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="update-ingredient-form" method="post" asp-page-handler="UpdateIngredient">
                    <div class="modal-body">
                        <input type="text" name="Name" hidden id="edit-ingredient-text"/>
                        <label for="edit-ingredient-number">Amount</label>
                        <input name="Amount" type="number" id="edit-ingredient-number" min="0" step="1" maxlength="10" minlength="1" required/>
                        <p id="edit-ingredient-amount-error-text"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="edit-ingredient-cancel-button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="edit-amount-submit-button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="remove-ingredient-modal" tabindex="-1" aria-labelledby="remove-ingredient-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="remove-ingredient-modal-label">Remove Ingredient</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="DeleteIngredient">
                    <div class="modal-body">
                        <p>Are you sure you want to remove this ingredient?</p>
                        <input name="Name" type="text" id="remove-ingredient-text" hidden/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button id="remove-ingredient-button" type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="remove-all-ingredient-modal" tabindex="-1" aria-labelledby="remove-all-ingredient-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="remove-ingredient-modal-label">Remove Ingredient</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                        <p>Are you sure you want to remove all ingredients?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <form method="post" asp-page-handler="DeleteAllIngredients">
                        <button id="remove-ingredient-button" type="submit" class="btn btn-primary">Yes</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-ingredient-modal" tabindex="-1" aria-labelledby="add-ingredient-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-ingredient-modal-title">Add Ingredient</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-page-handler="AddIngredient" method="post">
                    <div class="modal-body">
                        <label for="add-ingredient-name">Ingredient Name</label>
                        <input name="Name" id="add-ingredient-name" type="text" placeholder="Enter your desired name..." autocomplete="on" list="ingredient-suggestions" minlength="1" maxlength="200" required/>
                        <p id="add-ingredient-name-error-text"></p>
                        <datalist id="ingredient-suggestions">
                        </datalist>
                        <label for="add-ingredient-number">Amount</label>
                        <input name="Amount" type="number" id="add-ingredient-number" placeholder="Enter your desired amount" maxlength="10" min="0" step="1" required/>
                        <p id="add-ingredient-number-error-text"></p>
                        <label for="add-ingredient-measurement">Measurement</label>
                        <select id="add-ingredient-measurement" name="Measurement">
                            <option value="0">Quantity</option>
                            <option value="1">Mass (@BaseUnitUtils.GetBaseUnitSign(MeasurementType.Mass))</option>
                            <option value="2">Volume (@BaseUnitUtils.GetBaseUnitSign(MeasurementType.Volume))</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-ingredient-cancel-button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="add-ingredient-submit-button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
                <form asp-page-handler="GetIngredientsSuggestions" method="post" id="add-ingredients-suggestions-form">
                    <input type="text" name="searchText" id="add-ingredients-suggestions-text" hidden/>
                    <button type="submit" id="add-ingredients-suggestions-submit" hidden></button>
                </form>
            </div>
        </div>
    </div>
@section Scripts
{
    <script type="text/javascript">
            var addIngredientNameValidated = false;
            var addIngredientNumberValidated = false;
            var editIngredientNumberValidated = false;
            
            function validateAddIngredient() {
                $("#add-ingredient-submit-button").prop("disabled", !(addIngredientNameValidated && addIngredientNumberValidated));
            }
            
            function validateEditIngredient() {
                $("#edit-ingredient-submit-button").prop("disabled", !(editIngredientNumberValidated));
            }

            function updateSuggestions(suggestions) {
                const datalist = document.getElementById("ingredient-suggestions");

                while (datalist.firstChild) {
                    datalist.removeChild(datalist.firstChild);
                }

                suggestions.forEach((suggestion) => {
                    const option = document.createElement("option");
                    option.value = suggestion;
                    datalist.appendChild(option);
                });
            }

            $(".ingredient-delete-button").click(function () {
                $("#remove-ingredient-text").val($(this).data('ingredient-name'));
            });
            
            $("#add-ingredients-suggestions-form").submit(function (event) {
                    event.preventDefault();

                    var form = $(this);
                    var url = form.attr("action");
                    var method = form.attr("method");
                    var data = form.serialize();

                    $.ajax({
                        url: url,
                        type: method,
                        data: data,
                        success: function (result) {
                            updateSuggestions(result);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
            });

            $(".ingredient-edit-button").click(function () {
                $("#edit-ingredient-text").val($(this).data('ingredient-name'));
            });

            $("#add-ingredient-modal").on("shown.bs.modal", function () {
                $("#add-ingredient-name").focus();
            });
            
            $("#edit-ingredient-modal").on("shown.bs.modal", function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var amount = button.data('ingredient-amount'); // Extract info from data-* attributes
                console.log(event);
                var modal = $(this);
                modal.find('#edit-ingredient-number').val(amount);
                $("#edit-ingredient-number").focus();
            });

            $("#add-ingredient-modal").on("hidden.bs.modal", function () {
                $("#add-ingredient-number").val("");
                $("#add-ingredient-name").val("");
                $("#add-ingredient-name-error-text").text("");
                $("#add-ingredient-number-error-text").text("");
                $("#add-ingredient-name").css("background-color", "");
                $("#add-ingredient-number").css("background-color", "");
                addIngredientNameValidated = false;
                addIngredientNumberValidated = false;
                validateAddIngredient();
            });
            
            $("#edit-ingredient-modal").on("hidden.bs.modal", function () {
                $("#edit-ingredient-number").val("");
                $("#edit-ingredient-name").val("");
                $("#edit-ingredient-amount-error-text").text("");
                $("#edit-ingredient-number").css("background-color", "");
                editIngredientNumberValidated = false;
                validateEditIngredient();
            });

            $("#edit-ingredient-number").keyup(function () {
                if ($(this).val() < 0) {
                    $("#edit-ingredient-amount-error-text").text("Amount must be greater than or equal to 0.");
                    editIngredientNumberValidated = false;
                    $(this).css("background-color", "@UserInterfaceSettings.ErrorColor");
                } else if ($(this).val().length < 1) {
                    $("#edit-ingredient-amount-error-text").text("Amount must be a number.");
                    editIngredientNumberValidated = false;
                    $(this).css("background-color", "@UserInterfaceSettings.ErrorColor");
                } else {
                    $("#edit-ingredient-amount-error-text").text("");
                    editIngredientNumberValidated = true;
                    $(this).css("background-color", "");
                }
                
                validateEditIngredient();
            });
            
            $("#add-ingredient-number").keyup(function () {
                if ($(this).val() < 0) {
                    $("#add-ingredient-number-error-text").text("Amount must be greater than or equal to 0.");
                    addIngredientNumberValidated = false;
                    $(this).css("background-color", "@UserInterfaceSettings.ErrorColor");
                } else if ($(this).val().length < 1) {
                    $("#add-ingredient-number-error-text").text("Amount must a number.");
                    addIngredientNumberValidated = false;
                    $(this).css("background-color", "@UserInterfaceSettings.ErrorColor");
                } else {
                    $("#add-ingredient-number-error-text").text("");
                    addIngredientNumberValidated = true;
                    $(this).css("background-color", "");
                }
                

                validateAddIngredient();
            });

            $("#add-ingredient-name").keyup(function () {
                if ($(this).val().length < 1) {
                    $("#add-ingredient-name-error-text").text("Name must be at least 1 character long.");
                    addIngredientNameValidated = false;
                    $(this).css("background-color", "@UserInterfaceSettings.ErrorColor");
                } else {
                    $("#add-ingredient-name-error-text").text("");
                    addIngredientNameValidated = true;
                    $(this).css("background-color", "");
                }

                validateAddIngredient();
                $("#add-ingredients-suggestions-text").val($(this).val());
                $("#add-ingredients-suggestions-submit").click();
            });
            
            validateAddIngredient();
            validateEditIngredient();
    </script>
}
}