@page
@model Web_Client.Pages.RecipesListModel
@{


<div id="recipe-list-wrapper">
    <div id="recipe-list-body">
        <div id="recipe-filters">
            <div class="text-white bg-info text-center" id="recipe-filter-header">Filters</div>
            <form id="filtersForms" method="post" asp-page-handler="Submit">
                <fieldset>
                    <div id="recipe-filter-by-available-ingredients-container">
                        <input type="checkbox" id="recipe-filter-available-ingredient" class="filter-checkbox" value="true" name="only-available-ingredients" @if (Model.OnlyAvailableIngredients) { <text>checked</text> }>
                        <label for="recipe-filter-available-ingredient">Only Available Ingredients</label>
                    </div>
                    <div>
                        <label for="recipe-search-button"><h4>Search:</h4></label>
                        <input type="text" id="recipe-search-button" name="SearchText" value="@Model.SearchText" placeholder="Search for recipes..."/>
                    </div>
                    <div id="recipe-filter-by-tag-container">
                        <h4>Tags:</h4>
                        <div id="recipe-filter-by-type-input-container">
                            <input type="text" id="recipe-filter-by-type-input" list="recipe-types" name="BindingModel.FiltersTypes"/>
                            <div id="recipe-types">
                                @foreach (var type in Model.RecipeTypes)
                                {
                                    <div id="form-check">
                                        <input type="checkbox" id="@type" name="BindingModel.FiltersTypes" class="filter-checkbox" value="@type"
                                               @(ModelState.TryGetValue("BindingModel.FiltersTypes", out var filters)
                                                 && filters.AttemptedValue.Contains(type) ? "checked" : "")/>
                                        <label for="@type">@type</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="apply-filters-container">
                        <button id="apply-filters-button" type="submit" value="Submit" asp-page-handler="Submit">Apply Filters</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="recipe-list-main">
            <div id="recipe-list">
                @foreach (var recipe in Model.Recipes)
                {
                <a class="non-styled-link" asp-page="./Recipe" asp-route-id="@recipe.Id">
                    <div class="recipe-list-item">
                        <div>
                            <p class="recipe-name">@recipe.Name</p>
                            <p class="recipe-author">By: @recipe.AuthorName</p>
                        </div>
                        <div>
                            <div class="text-end">Rating: 0/5</div>
                            <div class="text-end">Tags go here</div>
                        </div>
                    </div>
                </a>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        document.getElementById('recipe-filter-by-type-input').addEventListener('input', function() {
            // Get the value entered by the user
            var inputValue = this.value;
            // Loop through all the checkboxes and hide the ones that don't match the entered value
                var checkboxes = document.getElementsByClassName('filter-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                var checkbox = checkboxes[i];
                if (checkbox.value.indexOf(inputValue) !== 0) {
                    checkbox.parentNode.style.display = 'none';
                } else {
                    checkbox.parentNode.style.display = 'block';
                }
            }
        });
    </script>
}
}

