@page
@using Shared_Resources.Data.UserData
@using Shared_Resources.Model.Recipes
@using Web_Client.ViewModel.Recipes
@using Desktop_Client.ViewModel.RecipeTypes
@{
    Recipe[] recipes = new Recipe[0]!;
    try
    {
        var ViewModel = new RecipesListViewModel();
        recipes = ViewModel.GetRecipes(Session.Key!);
    }             
    catch (UnauthorizedAccessException exception)
    {
        TempData["Message"] = exception.Message;
        Response.Redirect("/Index");
    }

    var recipeTagsViewModel = new RecipeTypesViewModel();
    var recipeTypes = recipeTagsViewModel.GetSimilarRecipeTypes();

<div id="recipe-list-wrapper">
    <div id="recipe-list-header">
        <div>Recipes</div>
        <div><span class="text-primary">Home</span> | Planned Meals | <a href="ingredients">Ingredients</a></div>
        <div><a href="index">Logout</a></div>
    </div>
    <div id="recipe-list-body">
        <div id="recipe-filters">
            <div class="text-white bg-info text-center" id="recipe-filter-header">Filters</div>
            <div id="recipe-filter-by-tag-container">
                <h4>Tags:</h4>
                <div id="recipe-filter-by-type-input-container">
                    <input type="text" id="recipe-filter-by-type-input" list="recipe-types"/>
                    <datalist id="recipe-types">
                        @foreach (var type in recipeTypes)
                        {
                            <option value="@type">@type</option>
                        }
                    </datalist>
                </div>
            </div>
            <div id="apply-filters-container">
                <button id="apply-filters-button">Apply Filters</button>
            </div>
        </div>
        <div id="recipe-list-main">
            <div id="recipe-search">
                <text></text>
            </div>
            <div id="recipe-list">
                @foreach (var recipe in recipes)
                {
                    <div class="recipe-list-item">
                        <div>
                            <p class="recipe-name">@recipe.Name</p>
                            <p class="recipe-author">By: @recipe.AuthorName</p>
                        </div>
                        <div>
                            <div class="text-end">Rating: 0/5</div>
                            <div class="text-end">Tags go here</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        //var ingredientName = "";

        ////Edit Ingredient
        //$(".ingredient-edit-button").click(function () {
        //    ingredientName = $(this).data('ingredient-name');
        //});

        //$("#edit-amount-submit-button").click(function () {
        //    var amount = $("#edit-amount-button").val();
        //    $.ajax({
        //        url: "/Ingredients?handler=EditIngredient",
        //        type: "POST",
        //        data: {
        //            ingredientName: ingredientName,
        //            amount: amount
        //        },
        //        success: function (data) {
        //            location.reload();
        //        }
        //    });
        //});

        ////Remove Ingredient
        //$(".ingredient-delete-button").click(function () {
        //    ingredientName = $(this).data('ingredient-name');
        //});

        //$("#remove-ingredient-button").click(function () {
        //    $.ajax({
        //        url: "/Ingredients?handler=RemoveIngredient",
        //        type: "POST",
        //        data: {
        //            ingredientName: ingredientName
        //        },
        //        success: function (data) {
        //            location.reload();
        //        }
        //    });
        //});

        ////Remove All
        //$("#remove-all-button").click(function () {
        //    $.ajax({
        //        url: "/Ingredients?handler=RemoveAll",
        //        type: "POST",
        //        success: function (data) {
        //            location.reload();
        //        }
        //    });
        //});

        ////Add Ingredient
        //$("#add-ingredient-submit-button").click(function () {
        //var ingredientName = $("#add-ingredient-name").val();
        //var amount = $("#add-ingredient-number").val();
        //var measurementType = $("#measurement-type-dropdown").val();
        //$.ajax({
        //    url: "@Url.Page("/Ingredients")?handler=AddIngredient",
        //    type: "POST",
        //    data: {
        //        ingredientName: ingredientName,
        //        amount: amount,
        //        measurementType: measurementType
        //    },
        //    success: function (data) {
        //        location.reload();
        //    }
        //});
        //});
        //function addIngredient() {
           
        //}
    </script>
}
}

